{% extends 'base.html' %}

{% block content %}

    <div id="header" class="animated slideInDown" style="animation-delay:1s;">
    <div id="title"></div><br>
    <div id="links">
		  <a href="\">HOME</a>
    	<a href="\doc">DOCS</a>
    	<a href="\scanner" style="margin:0px 60px;">SCANNER</a>
    </div>
    </div>

    <center>
    <div id="middle">
	<div class="text-change-container">
  	<div class="text-change"></div>
	</div><div class="text-change-container">
  	<div class="text-change"></div>
	</div>
  	<script  src="./script.js"></script>
	<div id="tagline" class="animated zoomIn" style="animation-delay:1s;">
            Welcome to PCL scanner project.<br>
            <button class="btn_one">move to scanner section</button>
        </div> 
    </div>
    </center>
    
{% endblock %}
